<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>选择Item</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/home/index_generate.css">
  </head>
  <body>
    <div class="ControlPanel">
      <div class="btn-group-vertical BtnGroup">
        <button type="button" class="btn btn-secondary">Item</button>
        <button type="button" class="btn btn-secondary">Title</button>
        <button type="button" class="btn btn-secondary">Image</button>
        <button type="button" class="btn btn-secondary">Prize</button>
        <button type="button" class="btn btn-secondary">Link</button>
      </div>
    </div>
    <div class="PreviewPanel">

    </div>
    <div class="Site">
      <iframe class="Site-iframe" srcdoc="<%= site %>"></iframe>
    </div>

    <script>

    </script>

  </body>
</html>
